h2 {
    text-align: center;
    margin: 0;
}

h2.spice-0 {
    color: #2eb82e;
}

h2.spice-1 {
    color: #5cd65c;
}

h2.spice-2 {
    color: #85e085;
}

h2.spice-3 {
    color: #ddff99;
}

h2.spice-4 {
    color: #ccff66;
}

h2.spice-5 {
    color: #bbff33;
}

h2.spice-6 {
    color: #fff5cc;
}

h2.spice-7 {
    color: #ffeb99;
}

h2.spice-8 {
    color: #ffe066;
}

h2.spice-9 {
    color: #ffd633;
}

h2.spice-10 {
    color: #ffcc00;
}

h2.spice-11 {
    color: #ffc299;
}

h2.spice-12 {
    color: #ffa366;
}

h2.spice-13 {
    color: #ff8533;
}

h2.spice-14 {
    color: #ff6600;
}

h2.spice-15 {
    color: #ff4d4d;
}

h2.spice-16 {
    color: #ff1a1a;
}

h2.spice-17 {
    color: #ff0000;
}

h2.spice-18 {
    color: #e60000;
}

h2.spice-19 {
    color: #cc0000;
}

h2.spice-20 {
    color: #b30000;
}